Authenticator.sln
c#/SingletonApp/SingletonApp.csproj
c#/SingletonApp/bin/Debug/net8.0/SingletonApp
c#/SingletonApp/bin/Debug/net8.0/SingletonApp.deps.json
c#/SingletonApp/bin/Debug/net8.0/SingletonApp.dll
c#/SingletonApp/bin/Debug/net8.0/SingletonApp.pdb
c#/SingletonApp/bin/Debug/net8.0/SingletonApp.runtimeconfig.json
c#/SingletonApp/obj/project.assets.json
c#/SingletonApp/obj/project.nuget.cache
c#/SingletonApp/obj/SingletonApp.csproj.nuget.dgspec.json
c#/SingletonApp/obj/SingletonApp.csproj.nuget.g.props
c#/SingletonApp/obj/SingletonApp.csproj.nuget.g.targets
c#/SingletonApp/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
c#/SingletonApp/obj/Debug/net8.0/apphost
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.AssemblyInfo.cs
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.AssemblyInfoInputs.cache
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.assets.cache
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.csproj.CoreCompileInputs.cache
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.csproj.FileListAbsolute.txt
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.dll
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.GeneratedMSBuildEditorConfig.editorconfig
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.genruntimeconfig.cache
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.GlobalUsings.g.cs
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.pdb
c#/SingletonApp/obj/Debug/net8.0/SingletonApp.sourcelink.json
c#/SingletonApp/obj/Debug/net8.0/ref/SingletonApp.dll
c#/SingletonApp/obj/Debug/net8.0/refint/SingletonApp.dll
